header {
     height: calc(100vh - var(--menu-height));
     display: flex;
     align-items: center;
}

.logo__topo {
     display: none;
}

header .container__header {
     width: 60%;
     height: fit-content;
     padding: 0 100px;
}

.container__header h1 {
     color: var(--green);
}

.container__header button {
     margin-top: 40px;
}

nav {
     display: flex;
     justify-content: space-between;
     padding: 0 100px;
     height: var(--menu-height);
     background: var(--bg-dark);
     position: sticky;
     top: 0;
}

.logo {
     font-size: 21px;
     border-left: 4px solid var(--purple);
     padding: 3px 0 0 5px;
     line-height: 20px;
     margin: 15px 0;
} 


.nav__list {
     list-style: none;
     display: flex;
     align-items: center;
     width: 80%;
     justify-content: space-around;
}

.nav__list a {
     font-size: 22px;
     color: var(--green);
     text-decoration: none;
}

.nav__list svg {
     display: none;
}



/* responsive design */

/* medium screen */

@media screen and (max-width:1000px) {

     header .container__header {
          width: 85%;
     }

     nav {
          padding-right: 10px;
     }

     .nav__list a {
          font-size: 18px;
     }
}

/* tablet */

@media screen and (max-width:768px) {
     
     header {
          height: calc(90vh - var(--menu-height));
     }

     header .logo__topo {
          display: inline-block;
          margin-bottom: 4.5rem;
     }

     header .container__header {
          width: 95%;
          padding: 0 30px;
     }

     .logo {
          display: none;
     } 
     
     nav {
          padding: 0 30px;
     }

     .nav__list {
          padding: 0;
          width: 100%;
     }
     
     .nav__list a {
          font-size: 17px;
          padding: 0 2px;
     }
}

/* phone */

@media screen and (max-width:480px) {
     
     nav {
          padding: 0 15px;
     
     }

     .nav__list a {
          font-size: 12px;
     }

     .nav__list svg {
          display: block;
          margin: 0 auto 10px;
     }

     .container__header button {
          margin-top: 10px;
     }

}