header {
     height: calc(100vh - var(--menu-height));
     display: flex;
     align-items: center;
}

header .container__header {
     width: 50%;
     height: fit-content;
     padding: 0 100px;
}

.container__header h1 {
     color: var(--green);
}

.container__header button {
     margin-top: 40px;
}

nav {
     display: flex;
     justify-content: space-between;
     padding: 0 100px;
     height: var(--menu-height);
     background: var(--bg-dark);
     position: sticky;
     top: 0;
}

nav .logo {
     font-size: 21px;
     border-left: 4px solid var(--purple);
     padding: 3px 0 0 5px;
     line-height: 20px;
     margin: 15px 0;
} 


.nav__list {
     list-style: none;
     display: flex;
     align-items: center;
     width: 70%;
     justify-content: space-around;
}

.nav__list a {
     font-size: 22px;
     color: var(--green);
     text-decoration: none;
}

/* responsive design */



/* tablet */

@media screen and (max-width:768px) {
     
     header {
          height: calc(90vh - var(--menu-height));
     }

     header .container__header {
          width: 100%;
          padding: 0 30px;
     }

     nav .logo {
          display: none;
     } 
     
     nav {
          padding: 0 30px;
     }

     .nav__list {
          padding: 0;
          width: 100%;
     }
     
     .nav__list a {
          font-size: 17px;
     }
}

/* phone */

@media screen and (max-width:480px) {
     
}